# Experiment Data

In [203]:
import os
os.chdir('/home/tal/dev/reptilearn')
import analysis
from pathlib import Path
import pandas as pd
import numpy as np
import re
import pprint as pp
import importlib
import system.visualize as visualize
import moviepy.video.io.ffmpeg_tools as ff

In [237]:
importlib.reload(analysis)

In [205]:
config = analysis.load_config("config")

In [210]:
pd.set_option('display.max_rows', 500)
exps = analysis.list_experiments(config.experiment_data_root)
index = exps.index
exps = pd.concat([exps.reset_index(drop=True), analysis.experiment_stats_df(exps)], axis=1)
exps.index = index

In [212]:
exps.sort_index(ascending=False).head(20)

,name,dir,video_count,image_count,csv_count
2021-05-31 12:04:17,pv20_exp9,/data/reptilearn/experiments/pv20_exp9_2021053...,4,1,6
2021-05-31 10:18:57,pv20_exp8,/data/reptilearn/experiments/pv20_exp8_2021053...,0,1,2
2021-05-31 10:18:47,pv20_exp8,/data/reptilearn/experiments/pv20_exp8_2021053...,0,1,2
2021-05-31 10:15:25,pv20_exp8,/data/reptilearn/experiments/pv20_exp8_2021053...,0,1,2
2021-05-31 10:15:16,pv20_exp8,/data/reptilearn/experiments/pv20_exp8_2021053...,4,1,6
2021-05-29 12:38:45,learn_exp,/data/reptilearn/experiments/learn_exp_2021052...,4,1,6
2021-05-29 12:12:41,learn_exp,/data/reptilearn/experiments/learn_exp_2021052...,4,1,6
2021-05-27 13:45:05,pv20_exp6_2,/data/reptilearn/experiments/pv20_exp6_2_20210...,4,1,6
2021-05-27 11:12:56,pv20_exp7,/data/reptilearn/experiments/pv20_exp7_2021052...,4,1,6
2021-05-24 11:47:58,pv20_exp6,/data/reptilearn/experiments/pv20_exp6_2021052...,4,1,6
2021-05-24 11:45:53,pv20_exp6,/data/reptilearn/experiments/pv20_exp6_2021052...,4,1,6
2021-05-24 09:21:30,pv20_exp6,/data/reptilearn/experiments/pv20_exp6_2021052...,4,1,6
2021-05-20 12:23:57,pv20_exp5,/data/reptilearn/experiments/pv20_exp5_2021052...,0,0,6
2021-05-20 11:59:40,simple_learn_exp,/data/reptilearn/experiments/simple_learn_exp_...,4,0,5
2021-05-20 11:55:26,simple_learn_exp,/data/reptilearn/experiments/simple_learn_exp_...,4,0,5
2021-05-20 11:54:54,simple_learn_exp,/data/reptilearn/experiments/simple_learn_exp_...,4,0,5
2021-05-20 11:25:11,pv20_exp4,/data/reptilearn/experiments/pv20_exp4_2021052...,4,1,6
2021-05-19 14:17:56,pv20_exp3,/data/reptilearn/experiments/pv20_exp3_2021051...,4,1,6
2021-05-19 13:34:47,pv20_exp3,/data/reptilearn/experiments/pv20_exp3_2021051...,4,1,6
2021-05-19 12:53:53,pv20_exp3,/data/reptilearn/experiments/pv20_exp3_2021051...,8,1,10

In [240]:
exp = exps[exps.name=='pv20_exp7'].iloc[0]
exp

name                                                   pv20_exp7
dir            /data/reptilearn/experiments/pv20_exp7_2021052...
video_count                                                    4
image_count                                                    1
csv_count                                                      6
Name: 2021-05-27 11:12:56, dtype: object

In [241]:
info = analysis.experiment_info(exp.dir)
pp.pprint(info)

{'event_log': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/events.csv'),
 'head_bbox': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/head_bbox.csv'),
 'images': [PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/arena_reinforced_area_20210527-111256.jpg')],
 'videos': {Timestamp('2021-05-27 11:12:57'): {'chessboard_back': {'duration': numpy.timedelta64(5046755736112,'ns'),
                                                                   'frame_count': 281721,
                                                                   'path': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_back_20210527-111257.mp4'),
                                                                   'timestamps': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_back_20210527-111257.csv')},
                                               'chessboard_left': {'duration': numpy.timedelta64(5046792050838,'ns'),
                                                                   'frame_count': 281720,
                                                                   'path': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_left_20210527-111257.mp4'),
                                                                   'timestamps': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_left_20210527-111257.csv')},
                                               'chessboard_right': {'duration': numpy.timedelta64(5046757840394,'ns'),
                                                                    'frame_count': 281720,
                                                                    'path': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_right_20210527-111257.mp4'),
                                                                    'timestamps': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_right_20210527-111257.csv')},
                                               'chessboard_top': {'duration': numpy.timedelta64(5046704609394,'ns'),
                                                                  'frame_count': 281721,
                                                                  'path': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_top_20210527-111257.mp4'),
                                                                  'timestamps': PosixPath('/data/reptilearn/experiments/pv20_exp7_20210527_111256/chessboard_top_20210527-111257.csv')}}}}

In [242]:
events = analysis.read_event_log(info)
events.head()

,time,event,value
0,2021-05-27 08:12:56.750094080,experiment/run,"{""id"": ""pv20_exp7"", ""params"": {""bypass_detecti..."
1,2021-05-27 08:12:56.823641600,arena/day_lights,true
2,2021-05-27 08:12:56.865488896,learn_exp/trial_start,"{""Trial"": ""0""}"
3,2021-05-27 08:12:56.865928960,arena/ttl_trigger/stop,NaN
4,2021-05-27 08:12:56.866422528,"('experiment', 'cur_block')",0

In [92]:
top_key = list(filter(lambda k: k[0]=='top', info["videos"].keys()))[0]
top_ts_path = info["videos"][top_key]["timestamps"]
top_vid_path = info["videos"][top_key]["path"]

In [69]:
tdf = pd.read_csv(top_ts_path, parse_dates=[0])

In [72]:
tdf.timestamp = pd.to_datetime(tdf.timestamp, unit='s')

In [243]:
reward_ts = events.query("event == 'arena/dispense_reward'").time

In [244]:
reward_ts

14    2021-05-27 08:14:46.575455232
53    2021-05-27 08:38:51.960519680
75    2021-05-27 08:44:30.425093888
108   2021-05-27 09:02:48.891959296
122   2021-05-27 09:03:04.112623872
139   2021-05-27 09:06:31.490233856
184   2021-05-27 09:36:19.088430848
Name: time, dtype: datetime64[ns]

In [87]:
reward_frames = []
for ts in reward_ts:
    reward_frames.append((tdf.timestamp - ts).abs().argmin())

In [148]:
reward_frames

[4906, 43578, 173041, 193090, 301718, 368962, 377241]

In [155]:
vid_time = (tdf.timestamp[reward_frames] - tdf.timestamp[0]).values / np.timedelta64(1, 's')
pre_frames = 30*60
post_frames = 60*60

In [130]:
analysis_dir = pv20_exp6.iloc[0].dir / "analysis"
analysis_dir.mkdir(exist_ok=True)

In [157]:
for i, frame in enumerate(reward_frames):
    start_frame = frame-pre_frames
    start_time = start_frame / 60
    end_frame = frame+post_frames
    end_time = end_frame / 60
    print(start_time, end_time)
    ff.ffmpeg_extract_subclip(top_vid_path, 
                              int(start_time), 
                              int(end_time), 
                              analysis_dir / f"reward{i}_{start_frame}_{end_frame}.mp4")

51.766666666666666 141.76666666666668
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful
696.3 786.3
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful
2854.016666666667 2944.016666666667
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful
3188.1666666666665 3278.1666666666665
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful
4998.633333333333 5088.633333333333
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful
6119.366666666667 6209.366666666667
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful
6257.35 6347.35
Moviepy - Running:
>>> "+ " ".join(cmd)
Moviepy - Command successful

In [186]:
trials_events = events[events.event == "('experiment', 'cur_trial')"]
in_area_events = events[events.event.str.startswith("learn_exp") & events.value.str.contains("in radius")]
out_of_area_wait_events = events[events.event.str.startswith("learn_exp") & events.value.str.contains("out of radius, waiting")]
out_of_area_end_trial_events = events[events.event.str.startswith("learn_exp") & events.value.str.contains("out of radius, ended")]

In [188]:
out_of_area_wait_events

,time,event,value
27,2021-05-24 06:30:06.365821696,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."
76,2021-05-24 07:05:14.654191872,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."
100,2021-05-24 07:14:06.756164608,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."
150,2021-05-24 07:49:34.243758080,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."
158,2021-05-24 07:51:25.350034944,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."
193,2021-05-24 08:11:26.840930048,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."
210,2021-05-24 08:13:56.844711936,learn_exp/trial,"{""status"": ""consecutive: out of radius, waitin..."

In [189]:
out_of_area_end_trial_events

,time,event,value
32,2021-05-24 06:34:22.024136960,learn_exp/trial,"{""status"": ""consecutive: out of radius, ended ..."
85,2021-05-24 07:12:57.827068928,learn_exp/trial,"{""status"": ""consecutive: out of radius, ended ..."
102,2021-05-24 07:15:25.127374080,learn_exp/trial,"{""status"": ""consecutive: out of radius, ended ..."
153,2021-05-24 07:51:23.380571904,learn_exp/trial,"{""status"": ""consecutive: out of radius, ended ..."
188,2021-05-24 08:11:26.765317632,learn_exp/trial,"{""status"": ""consecutive: out of radius, ended ..."
205,2021-05-24 08:13:55.194388736,learn_exp/trial,"{""status"": ""consecutive: out of radius, ended ..."

In [181]:
in_area_events

,time,event,value
9,2021-05-24 06:22:50.858211328,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."
36,2021-05-24 06:34:22.077784064,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."
89,2021-05-24 07:12:57.876266752,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."
110,2021-05-24 07:18:57.262724608,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."
157,2021-05-24 07:51:23.426755584,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."
192,2021-05-24 08:11:26.821443072,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."
209,2021-05-24 08:13:55.246581248,learn_exp/trial,"{""status"": ""consecutive: in radius, waiting to..."